# ETL dev notebook

0. Load config and create `S3` client
1. Identify schema from `JSON` files
2. Verify queries for creating schemas and tables
3. Verify queries for loading from `S3` to `staging`
4. Verify queries for transforming from `staging` to `analytics`

In [4]:
import configparser
import json

import boto3

In [5]:
%reload_ext sql

## 0. Load config and create `S3` client

In [6]:
aws_config = configparser.ConfigParser()
aws_config.read_file(open("../redshift.cfg"))

# credentials for boto3 clients
KEY=aws_config.get("AWS", "KEY")
SECRET=aws_config.get("AWS", "SECRET")
REGION=aws_config.get("AWS", "REGION")

s3 = boto3.resource("s3",
                    region_name=REGION,
                    aws_access_key_id=KEY,
                    aws_secret_access_key=SECRET
                   )

In [7]:
config = configparser.ConfigParser()
config.read_file(open("../dwh.cfg"))

# cluster and database settings
HOST=config.get("CLUSTER", "HOST")
DB_NAME=config.get("CLUSTER", "DB_NAME")
DB_USER=config.get("CLUSTER", "DB_USER")
DB_PASSWORD=config.get("CLUSTER", "DB_PASSWORD")
DB_PORT=config.get("CLUSTER", "DB_PORT")

# iam role arn for reading from s3
ARN=config.get("IAM_ROLE", "ARN")

# s3 buckets
LOG_DATA=config.get("S3", "LOG_DATA")
SONG_DATA=config.get("S3", "SONG_DATA")

## 1. Identify schema from `JSON` files

In [8]:
raw_data_bucket =  s3.Bucket("udacity-dend")
songs_objects = raw_data_bucket.objects.filter(Prefix="song-data")
events_objects = raw_data_bucket.objects.filter(Prefix="log-data")

In [5]:
list(songs_objects.all())

[s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAAK128F9318786.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAAV128F421A322.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAABD128F429CF47.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAACN128F9355673.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAEA128F935A30D.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAED128E0783FAB.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAEM128F93347B9.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAEW128F42930C0.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAFD128F92F423A.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAGR128F425B14B.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAHD128F42635A5.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAHJ128F931194C.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAHZ128E0799171.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAIR128F1480971.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAJN128F428E437.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAND12903CD1F1B.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAANK128F428B515.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAOF128F429C156.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAPK128E0786D96.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAQN128F9353BA0.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAQO12903CD8E1C.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAUC128F428716F.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAUR128F428B1FA.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/A/TRAAAYL128F4271A5B.json')]

In [33]:
list(events_objects.all())

[s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-01-events.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-02-events.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-03-events.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-04-events.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-05-events.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-06-events.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-07-events.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-08-events.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-09-events.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-10-events.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-11-events.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-12-events.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-13-events.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-14-events.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-15-events.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-16-events.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-17-events.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-18-events.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-19-events.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-20-events.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-21-events.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-22-events.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-23-events.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-24-events.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-25-events.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-26-events.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-27-events.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-28-events.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-29-events.json'),
 s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-30-events.json')]

### Songs

In [82]:
# serialize response to ndjson string
sample_song = list(songs_objects.all())[-1]
sample_song_content = sample_song.get()["Body"].read().decode("utf-8")

In [83]:
# deserialize ndjson string to dict
song = []
for ndjson_line in sample_song_content.splitlines():
    json_line = json.loads(ndjson_line)
    song.append(json_line)

In [84]:
song[0]

{'song_id': 'SOIGHOD12A8C13B5A1',
 'num_songs': 1,
 'title': 'Indian Angel',
 'artist_name': 'Talkdemonic',
 'artist_latitude': 45.51179,
 'year': 2004,
 'duration': 171.57179,
 'artist_id': 'ARY589G1187B9A9F4E',
 'artist_longitude': -122.67563,
 'artist_location': 'Portland, OR'}

### Events

In [66]:
# serialize response to ndjson string
sample_event = list(events_objects.all())[-1]
sample_event_content = sample_event.get()["Body"].read().decode("utf-8")

In [67]:
# deserialize ndjson string to dict
event = []
for ndjson_line in sample_event_content.splitlines():
    json_line = json.loads(ndjson_line)
    event.append(json_line)

In [68]:
event[0]

{'artist': 'Stephen Lynch',
 'auth': 'Logged In',
 'firstName': 'Jayden',
 'gender': 'M',
 'itemInSession': 0,
 'lastName': 'Bell',
 'length': 182.85669,
 'level': 'free',
 'location': 'Dallas-Fort Worth-Arlington, TX',
 'method': 'PUT',
 'page': 'NextSong',
 'registration': 1540991795796.0,
 'sessionId': 829,
 'song': "Jim Henson's Dead",
 'status': 200,
 'ts': 1543537327796,
 'userAgent': 'Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; WOW64; Trident/6.0)',
 'userId': '91'}

## 2. Verify queries for creating schemas and tables

In [11]:
# redshift cluster connection 
correct_conn_string = f"""postgresql://{DB_USER}:{DB_PASSWORD}@{HOST}:{DB_PORT}/{DB_NAME}"""
%sql $correct_conn_string

### Create schemas

In [10]:
%%sql

create schema if not exists staging;
create schema if not exists analytics;

 * postgresql://redshift_db_dev_user:***@redshifts3dev.cmjyoa1m3fts.us-west-2.redshift.amazonaws.com:5439/redshift_db_dev
Done.
Done.

[]

### Events table

In [64]:
%%sql

create table staging.s_events (
    artist varchar (150),
    auth varchar (100),
    firstname varchar (100),
    gender varchar (10),
    iteminsession integer,
    lastname varchar (100),
    length float,
    level varchar (100),
    location varchar (100),
    method varchar (10),
    page varchar (100),
    registration bigint,
    sessionid integer,
    song varchar (200),
    status integer,
    ts bigint,
    useragent varchar (150),
    userid bigint
);
diststyle all

 * postgresql://redshift_db_dev_user:***@redshifts3dev.cmjyoa1m3fts.us-west-2.redshift.amazonaws.com:5439/redshift_db_dev
Done.
Done.

[]

### Songs table

In [8]:
%%sql

create table if not exists staging.s_songs (
    song_id varchar (128),
    num_songs integer,
    title varchar (512),
    artist_name varchar (512),
    year integer,
    duration float,
    artist_id varchar(128),
    artist_longitude float,
    artist_latitude float,
    artist_location varchar(512)
)
distkey (artist_name)

 * postgresql://redshift_db_dev_user:***@redshifts3dev.cmjyoa1m3fts.us-west-2.redshift.amazonaws.com:5439/redshift_db_dev
Done.
Done.

[]

## 3. Verify queries for loading from `S3` to `staging`

In [110]:
%%sql

select starttime, filename, line_number, colname, type, col_length, position, raw_line, err_reason
from pg_catalog.stl_load_errors
where starttime = (select max(starttime)
                   from pg_catalog.stl_load_errors)
order by starttime desc

 * postgresql://redshift_db_dev_user:***@redshifts3dev.cmjyoa1m3fts.us-west-2.redshift.amazonaws.com:5439/redshift_db_dev
2 rows affected.

[(datetime.datetime(2022, 1, 4, 17, 49, 16, 324582), 's3://udacity-dend/song-data/B/B/Y/TRBBYQK128F425A300.json                                                                                                                                                                                                       ', 1, 'artist_name                                                                                                                    ', 'varchar   ', '200       ', 0, '{"song_id": "SOXYYWL12A8AE48475", "num_songs": 1, "title": "Feel Like Goin\' Home", "artist_name": "Spiritualized;Jason;Jason - Dulcimer/;Kate Radley ... (727 characters truncated) ...                                                                                                                                                      ', 'String length exceeds DDL length                                                                    '),
 (datetime.datetime(2022, 1, 4, 17, 49, 16, 324582), 's3://udacity-dend/song-data/C/A/R/TRCARJQ128F425A389.json                                                                                                                                                                                                       ', 1, 'artist_name                                                                                                                    ', 'varchar   ', '200       ', 0, '{"song_id": "SOLAUEC12A8AE476BB", "num_songs": 1, "title": "Medication", "artist_name": "Spiritualized;Jason;Jason - Dulcimer/;Kate Radley - Vox cont ... (726 characters truncated) ...                                                                                                                                                      ', 'String length exceeds DDL length                                                                    ')]

### Load events

In [68]:
qry = f"""
copy staging.s_events
from {LOG_DATA}
iam_role '{ARN}'
json 'auto ignorecase'
"""

%sql $qry

 * postgresql://redshift_db_dev_user:***@redshifts3dev.cmjyoa1m3fts.us-west-2.redshift.amazonaws.com:5439/redshift_db_dev
Done.

[]

In [13]:
%sql select * from staging.s_events where page = 'nextsong' limit 10

 * postgresql://redshift_db_dev_user:***@redshifts3dev.cmjyoa1m3fts.us-west-2.redshift.amazonaws.com:5439/redshift_db_dev
10 rows affected.

[('Mynt', 'Logged In', 'Celeste', 'F', 2, 'Williams', 166.94812, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796, 52, 'Playa Haters', 200, 1541207150796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Taylor Swift', 'Logged In', 'Celeste', 'F', 3, 'Williams', 230.47791, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796, 52, 'You Belong With Me', 200, 1541207316796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Amy Winehouse', 'Logged In', 'Celeste', 'F', 4, 'Williams', 229.85098, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796, 52, 'Valerie', 200, 1541207546796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Jimmy Eat World', 'Logged In', 'Celeste', 'F', 5, 'Williams', 285.83138, 'free', 'Klamath Falls, OR', 'PUT', 'NextSong', 1541077528796, 52, 'Dizzy', 200, 1541207775796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', 53),
 ('Maldita Nerea', 'Logged In', 'Anabelle', 'F', 0, 'Simpson', 241.162, 'free', 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD', 'PUT', 'NextSong', 1541044398796, 158, 'Supelicula', 200, 1541254670796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 69),
 ('Fluke', 'Logged In', 'Connar', 'M', 0, 'Moreno', 478.92853, 'free', 'Houston-The Woodlands-Sugar Land, TX', 'PUT', 'NextSong', 1540823606796, 168, 'Bermuda', 200, 1541257880796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10) AppleWebKit/538.46 (KHTML, like Gecko) Version/8.0 Safari/538.46"', 62),
 ('Habib KoitÃ\x83Â©', 'Logged In', 'Jayden', 'M', 0, 'Fox', 285.1522, 'free', 'New Orleans-Metairie, LA', 'PUT', 'NextSong', 1541033612796, 185, 'Din Din Wo', 200, 1541259368796, '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 101),
 ('The Kooks', 'Logged In', 'Sara', 'F', 0, 'Johnson', 132.25751, 'paid', 'Winston-Salem, NC', 'PUT', 'NextSong', 1540809153796, 152, "Eddie's Gun", 200, 1541260356796, '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"', 95),
 ('Blues Traveler', 'Logged In', 'Sara', 'F', 1, 'Johnson', 290.24608, 'paid', 'Winston-Salem, NC', 'PUT', 'NextSong', 1540809153796, 152, 'Hook', 200, 1541260488796, '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"', 95),
 ('Coldplay', 'Logged In', 'Sara', 'F', 2, 'Johnson', 298.762, 'paid', 'Winston-Salem, NC', 'PUT', 'NextSong', 1540809153796, 152, 'Shiver', 200, 1541260778796, '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"', 95)]

### Load songs

In [9]:
qry = f"""
copy staging.s_songs
from {SONG_DATA}
iam_role '{ARN}'
json 'auto ignorecase'
"""

%sql $qry

 * postgresql://redshift_db_dev_user:***@redshifts3dev.cmjyoa1m3fts.us-west-2.redshift.amazonaws.com:5439/redshift_db_dev

In [12]:
%sql select * from staging.s_songs limit 10

 * postgresql://redshift_db_dev_user:***@redshifts3dev.cmjyoa1m3fts.us-west-2.redshift.amazonaws.com:5439/redshift_db_dev
10 rows affected.

[('SOQPWCR12A6D4FB2A3', 1, 'A Poor Recipe For Civic Cohesion', 'Western Addiction', 2005, 118.07302, 'AR73AIO1187B9AD57B', -122.42005, 37.77916, 'San Francisco, CA'),
 ('SOAFBCP12A8C13CC7D', 1, 'King Of Scurf (2007 Digital Remaster)', 'The Bonzo Dog Band', 1972, 301.40036, 'ARTC1LV1187B9A4858', -0.01802, 51.4536, "Goldsmith's College, Lewisham, Lo"),
 ('SOKPKMV12A8C14125E', 1, 'Catwalk (Black Ink Mix)', 'Tangerine Dream', 1995, 492.30322, 'AR2L9A61187B9ADDBC', 13.37698, 52.51607, 'Berlin, Germany'),
 ('SOPVNTL12AB01854F9', 1, 'Brain', 'The Action', 0, 180.32281, 'ARPIKA31187FB4C233', -74.00712, 40.71455, 'New York'),
 ('SOLLHMX12AB01846DC', 1, 'The Emperor Falls', 'John Wesley', 0, 484.62322, 'AR1Y2PT1187FB5B9CE', -82.32547, 27.94017, 'Brandon'),
 ('SORBTXD12AB018D2D2', 1, "They're Coming For You", 'BLESTeNATION', 0, 193.07057, 'AR7EXXM1187B995510', -74.00712, 40.71455, 'New York, New York'),
 ('SOUXJJP12AB0181239', 1, 'Get Down', 'Antoine Clamaran', 2008, 441.88689, 'AR6GME21187FB58F39', None, None, 'LAKE WORTH, Florida'),
 ('SOYQOFI12A6D4F76E1', 1, 'Too Much Saturn', 'Francis Dunnery', 1995, 300.79955, 'AR2J2WF1187FB46271', -3.53444, 54.48303, 'Egremont, Cumbria, England'),
 ('SOLJCCO12A6701F987', 1, 'Fall On Me (Live)', 'R.E.M.', 1995, 203.12771, 'ARR6LWJ1187FB44C8B', None, None, 'Athens, GA'),
 ('SOHMMMC12AB0181C42', 1, 'Sudanese Dance', 'Xcultures', 2000, 273.52771, 'ARNIFX51187FB418EA', None, None, '')]

## 4. Verify queries for transforming from `staging` to `analytics`

### Fact `f_songplays` from `s_events` and `s_songs`

In [14]:
%%sql

create table if not exists analytics.f_songplays (
    songplay_id integer identity(0,1) primary key,
    start_time timestamp not null,
    user_id bigint not null,
    level varchar (128),
    song_id varchar (128),
    artist_id varchar (128),
    session_id bigint,
    location varchar (512),
    user_agent varchar (512),
foreign key (song_id) references analytics.d_songs(song_id),
foreign key (artist_id) references analytics.d_artists(artist_id),
foreign key (user_id) references analytics.d_users(user_id),
foreign key (start_time) references analytics.d_time(start_time)
)
diststyle even

 * postgresql://redshift_db_dev_user:***@redshifts3dev.cmjyoa1m3fts.us-west-2.redshift.amazonaws.com:5439/redshift_db_dev
Done.

[]

In [17]:
%%sql

insert into analytics.f_songplays (
	start_time,
	user_id,
	level,
	song_id,
	artist_id,
	session_id,
	location,
	user_agent
)
from staging.s_events as e
left join (
		select
			any_value(d.song_id) as song_id,
			any_value(d.artist_id) as artist_id,
			d.artist_name,
			d.title,
			d.duration
		from (
			select distinct *
			from staging.s_songs
		) as d
		group by d.title, d.artist_name, d.duration
    ) as s
    on e.artist = s.artist_name
    and e.song = s.title
    and e.length = s.duration
where e.page = 'NextSong'

 * postgresql://redshift_db_dev_user:***@redshifts3dev.cmjyoa1m3fts.us-west-2.redshift.amazonaws.com:5439/redshift_db_dev
6820 rows affected.

[]

In [20]:
%%sql

select * from analytics.f_songplays limit 10

 * postgresql://redshift_db_dev_user:***@redshifts3dev.cmjyoa1m3fts.us-west-2.redshift.amazonaws.com:5439/redshift_db_dev
10 rows affected.

[(3, datetime.datetime(2018, 11, 26, 15, 37, 14), 88, 'paid', 'SOARTQC12A58A77F0C', 'ARCE0IX1187FB528B4', 900, 'Sacramento--Roseville--Arden-Arcade, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (19, datetime.datetime(2018, 11, 21, 1, 9, 37), 97, 'paid', 'SOTEFFR12A8C144765', 'ARVG4OK1187B9B6BD3', 671, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (35, datetime.datetime(2018, 11, 30, 6, 54, 42), 49, 'paid', 'SOIZLVK12AC468C3BA', 'ARXQUKV11F50C502B1', 1079, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (51, datetime.datetime(2018, 11, 20, 21, 19, 4), 85, 'paid', 'SOCQLAV12A8C132B96', 'AREL9341187FB5A382', 776, 'Red Bluff, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (67, datetime.datetime(2018, 11, 24, 19, 4, 35), 86, 'free', 'SOTWNRM12AF729C75E', 'ARDLRLV1187B99ABE4', 906, 'La Crosse-Onalaska, WI-MN', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (83, datetime.datetime(2018, 11, 20, 15, 48, 5), 44, 'paid', 'SOOYAYM12A8C13FE7E', 'ARX395D1187FB41D91', 639, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (99, datetime.datetime(2018, 11, 26, 13, 55, 17), 72, 'paid', 'SOLZOBD12AB0185720', 'ARPDVPJ1187B9ADBE9', 381, 'Detroit-Warren-Dearborn, MI', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:30.0) Gecko/20100101 Firefox/30.0'),
 (115, datetime.datetime(2018, 11, 5, 18, 13, 57), 73, 'paid', 'SOLZOBD12AB0185720', 'ARPDVPJ1187B9ADBE9', 255, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (131, datetime.datetime(2018, 11, 21, 5, 29, 54), 65, 'paid', 'SOFMTIN12AF72A094F', 'ARVTAI41187B9B8B67', 64, 'Longview, TX', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (147, datetime.datetime(2018, 11, 21, 1, 47, 20), 80, 'paid', 'SOQQFER12A6D4FCFFD', 'AR9HQ7S1187B9ACDCA', 774, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"')]

### Dimension `d_users` from `s_events`

In [21]:
%%sql

create table if not exists analytics.d_users (
    user_id integer primary key,
    first_name varchar (128) not null,
    last_name varchar (128) not null,
    gender varchar (128) not null,
    level varchar (128)
)
distkey (user_id)

 * postgresql://redshift_db_dev_user:***@redshifts3dev.cmjyoa1m3fts.us-west-2.redshift.amazonaws.com:5439/redshift_db_dev
Done.

[]

In [ ]:
%%sql

insert into analytics.d_users
select 
	s.userid,
    s.firstname,
    s.lastname,
    s.level,
    s.gender
from staging.s_events as s
	inner join (	
		select userid, max(ts) as latest
		from staging.s_events
		group by userid
	) as t
    	on t.latest = s.ts
        and t.userid = s.userid

In [22]:
%%sql

select * from analytics.d_users limit 10

 * postgresql://redshift_db_dev_user:***@redshifts3dev.cmjyoa1m3fts.us-west-2.redshift.amazonaws.com:5439/redshift_db_dev
10 rows affected.

[(17, 'Makinley', 'Jones', 'free', 'F'),
 (80, 'Tegan', 'Levine', 'paid', 'F'),
 (88, 'Mohammad', 'Rodriguez', 'paid', 'M'),
 (100, 'Adler', 'Barrera', 'free', 'M'),
 (26, 'Ryan', 'Smith', 'free', 'M'),
 (12, 'Austin', 'Rosales', 'free', 'M'),
 (43, 'Jahiem', 'Miles', 'free', 'M'),
 (3, 'Isaac', 'Valdez', 'free', 'M'),
 (8, 'Kaylee', 'Summers', 'free', 'F'),
 (30, 'Avery', 'Watkins', 'paid', 'F')]

### Dimension `d_time` from `s_events`

In [23]:
%%sql

create table if not exists analytics.d_time (
	start_time timestamp primary key,
	hour smallint not null,
	day smallint not null,
	week smallint not null,
	month smallint not null,
	year smallint not null,
	weekday smallint not null
)
distkey (start_time)

 * postgresql://redshift_db_dev_user:***@redshifts3dev.cmjyoa1m3fts.us-west-2.redshift.amazonaws.com:5439/redshift_db_dev
Done.

[]

In [ ]:
%%sql 

insert into analytics.d_time
select
	timestamp 'epoch' + dg.ts / 1000 * interval '1 second' as start_time,
	extract(hour from start_time) as hour,
	extract(day from start_time) as day,
	extract(week from start_time) as week,
	extract(month from start_time) as month,
	extract(year from start_time) as year,
	extract(weekday from start_time) as weekday
from (
	select d.ts
	from (
		select distinct *
		from staging.s_events
	) as d
	where d.ts is not null
	group by d.ts
) as dg

In [24]:
%%sql 

select * from analytics.d_time limit 10

 * postgresql://redshift_db_dev_user:***@redshifts3dev.cmjyoa1m3fts.us-west-2.redshift.amazonaws.com:5439/redshift_db_dev
10 rows affected.

[(datetime.datetime(2018, 11, 3, 10, 9, 9), 10, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 15, 11, 20), 15, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 2, 1, 30, 41), 1, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 13, 37), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 16, 16), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 22, 43), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 31), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 35, 25), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 40, 11), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 3, 16, 53, 35), 16, 3, 44, 11, 2018, 6)]

### Dimension `d_artists` from `s_songs`

In [27]:
%%sql

create table if not exists analytics.d_artists (
    artist_id varchar (128) primary key,
    name varchar (512) not null,
    location varchar (512),
    latitude float,
    longitude float
)
distkey(artist_id)

 * postgresql://redshift_db_dev_user:***@redshifts3dev.cmjyoa1m3fts.us-west-2.redshift.amazonaws.com:5439/redshift_db_dev
Done.

[]

In [28]:
%%sql

insert into analytics.d_artists
select
	d.artist_id,
	any_value(d.artist_name) as name,
	any_value(d.artist_location) as location,
	any_value(d.artist_latitude) as latitude,
	any_value(d.artist_longitude) as longitude
from (
	select distinct *
	from staging.s_songs
) as d
group by d.artist_id

 * postgresql://redshift_db_dev_user:***@redshifts3dev.cmjyoa1m3fts.us-west-2.redshift.amazonaws.com:5439/redshift_db_dev
30542 rows affected.

[]

In [29]:
%%sql

select * from analytics.d_artists limit 10

 * postgresql://redshift_db_dev_user:***@redshifts3dev.cmjyoa1m3fts.us-west-2.redshift.amazonaws.com:5439/redshift_db_dev
10 rows affected.

[('AR1Y2PT1187FB5B9CE', 'John Wesley', 'Brandon', 27.94017, -82.32547),
 ('ARS927Z1187B9ACA29', 'Robert Plant', 'Birmingham, England', None, None),
 ('AR3T4DT1187B9A00AF', 'Shihad', '', None, None),
 ('ARCRS2O1187B99012F', 'Holly Valance', 'Melbourne, Australia', -37.81753, 144.96715),
 ('AR8NKGL1187B98F57A', 'Mud', 'California - SF', 37.77916, -122.42005),
 ('ARSRAKS11F4C83FDB5', 'Santa Claws and the Naughty But Nice Orchestra', '', None, None),
 ('ARCLYBR1187FB53913', 'Neal Schon', 'San Mateo, CA', 37.54703, -122.31483),
 ('ARCZC791187B991DF4', 'Chris Isaak', 'Stockton, California', None, None),
 ('ARJ56D11187B9B3846', 'Parliament', 'Detroit, MI', 42.33168, -83.04792),
 ('AR6XPWV1187B9ADAEB', 'Foo Fighters', 'Seattle, WA', None, None)]

### Dimension `d_songs` from `s_songs`

In [30]:
%%sql

create table if not exists analytics.d_songs (
	song_id varchar (128) primary key,
	title varchar (512) not null,
	artist_id varchar (128) not null,
	year smallint,
	duration float not null,
	foreign key (artist_id) references analytics.d_artists
)
distkey (song_id)

 * postgresql://redshift_db_dev_user:***@redshifts3dev.cmjyoa1m3fts.us-west-2.redshift.amazonaws.com:5439/redshift_db_dev
Done.

[]

In [32]:
%%sql

insert into analytics.d_songs
select
    g.song_id,
    g.title,
    g.artist_id,
    g.duration,
    g.year
from (
	select
  		d.title,
  		d.duration,
  		any_value(d.song_id) as song_id,
  		any_value(d.artist_id) as artist_id,
  		any_value(d.year) as year
    from (
		select distinct *
		from staging.s_songs
		) as d
  	group by d.title, d.artist_name, d.duration
	) as g

 * postgresql://redshift_db_dev_user:***@redshifts3dev.cmjyoa1m3fts.us-west-2.redshift.amazonaws.com:5439/redshift_db_dev
384975 rows affected.

[]

In [33]:
%%sql

select * from analytics.d_songs limit 10

 * postgresql://redshift_db_dev_user:***@redshifts3dev.cmjyoa1m3fts.us-west-2.redshift.amazonaws.com:5439/redshift_db_dev
10 rows affected.

[('SORLTAN12AF72ABBFA', 'Life Causes Cancer', 'AR8JO2B1187B98EBB6', 161, 2007.0),
 ('SOMKNDC12A8C13AB14', 'Enter Vril-ya', 'ARZN98V1187B990D1D', 421, 2000.0),
 ('SOWSNFG12AB01824F0', 'Pinch & Pillage', 'ARIY5OL1187B99A66F', 356, 2003.0),
 ('SONAAEB12AB018A443', 'What Child Is This? (Album Version)', 'ARPTKAK1187FB5308A', 308, 2002.0),
 ('SOPKYNK12A8AE45F1A', 'Oro Caldo', 'ARX3XRG1187FB5247E', 1108, 1973.0),
 ('SOJBPPM12A6D4FCDD2', 'Binary', 'AR8YYNB1187B9A4BB3', 341, 2007.0),
 ('SOKGRUO12A67ADBA54', "Don't Let Me Explode", 'AREFFQF1187FB3F845', 141, 2005.0),
 ('SOURUPN12AB0181FDA', 'Message Of Love', 'ARPTKZQ1187FB533D1', 334, 1991.0),
 ('SOVPOBV12AAF3B48FA', 'Fallin Backwards', 'ARMDRLR1187FB3B0EA', 503, 0.0),
 ('SOIGIUZ12A8C1337B1', 'Post-Toxic Finger Disorder', 'AR8U8G41187B9A833B', 80, 2006.0)]